<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" />

    <title>Add-offer</title>
    <link rel="icon" sizes="180x180" type="image/x-icon" href="/Project/images/favicon.ico">
</head>

<body class="add-offer">
    <header>
        <nav class="main-nav">
            <h2 id="logo">my-ho<span class="house-logo"><img src="/Project/images/favicon.png" alt="M"></span>e</h2>
            <ul class="list">
                <li class="list-element"><a class="element-text" href="">Login</a></li>
                <li class="list-element"><a class="element-text" href="">Register</a></li>
                <li class="list-element"><a class="element-text" href="">Offers</a></li>
                <li class="list-element"><a class="element-text" href="">Agencies</a></li>
                <li class="list-element"><a class="element-text" href="">Contacts</a></li>
                <li class="list-element"><a class="element-text" href="">Logout</a></li>
            </ul>
        </nav>



    </header>

    <main>

        <form class="upload-file-form" action="" method="post">
            <label class="section-title" for="img-upload">
                <h4>Step 3 - Upload images.</h4>
            </label>
            <p class="info">Chose up to 15 images to upload</p>
            <div class="upload-cnt">
                <input class="image-input" type="file" multiple="multiple" 
                name="img" id="img-upload" enctype="multipart/form-data">
                <output></output>
                <button type="submit" class="new-btn upload-btn" id="upload-btn"
                accept="image/*">Upload</button>
            </div>
        </form>

        <div class="successful-upload">
           <p class="message"> 7 images have been uploaded successfuly.</p>
           <p class="waiting-conf">The offer is under review. You will be informed by email when published.</p>
        </div>

        <footer>

            <h2 class="footer-logo" id="logo">my-home.now</h2>

            <section>
                <article>
                    <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia 1000, 12 Serdika, ground floor
                    </address>
                    <p> <i class="fa-solid fa-phone"></i>+359 885 00 00 11</p>
                    <p><i class="fa-solid fa-envelope"></i><a href="">office@my-home.now</a></p>
                </article>

                <article>
                    <h4 class="footer-title" date time>WORKING HOURS</h4>
                    <p><i>Monday to Friday:</i>10 AM to 9 PM</p>
                    <p><i>Saturday and Sunday:</i> Closed </p>
                </article>

                <article class="center">
                    <h4 class="footer-title">CONNECT WITH US</h4>
                    <div class="icons">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-viber"></i></a>
                    </div>

                </article>
            </section>


            <p id="copy-right">Copyright&copy; my-home.now 2023</p>
        </footer>

        <script type="text/javascript" src="script2.js"></script>
 
    </main>

</body>


</html>