<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" />

    <title>All Offers</title>
    <link rel="icon" sizes="180x180" type="image/x-icon" href="/Project/images/favicon.ico">
</head>

<body >
    <header>
        <nav class="main-nav">
            <h2 id="logo">my-ho<span class="house-logo"><img src="/Project/images/favicon.png" alt="M"></span>e</h2>
            <ul class="list">
                <li class="list-element"><a class="element-text" href="">Login</a></li>
                <li class="list-element"><a class="element-text" href="">Register</a></li>
                <li class="list-element"><a class="element-text" href="">Offers</a></li>
                <li class="list-element"><a class="element-text" href="">Agencies</a></li>
                <li class="list-element"><a class="element-text" href="">Contacts</a></li>
                <li class="list-element"><a class="element-text" href="">Logout</a></li>
            </ul>
        </nav>



    </header>

    <main>



        <h3 class="section-title" id="offers-title">
            <span class="blue">All available</span> properties.
        </h3>

        <aside class="request quick-search">

            <h3 class="section-title" id="quick-search-title"> Quick search</h3>
           
            
            <form action="/search" method="get" class="search-form">
                <div class="form-group">
                    <select class="s-form" id="offerType">
                        <option value="">Offer Type</option>
                        <option value="rent">Rent</option>
                        <option value="buy">Buy</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="s-form" id="propertyCategory">
                        <option value="">Category</option>
                        <option value="1-bedroom">1-bedroom</option>
                        <option value="2-bedroom">2-bedroom</option>
                        <option value="garage">Garage</option>
                        <option value="office">Office</option>
                        <option value="house">House</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="s-form" id="location">
                        <option value="">Location</option>
                        <option value="Sofia">Sofia</option>
                        <option value="Varna">Varna</option>
                        <option value="Bourgas">Bourgas</option>
                        <option value="Plovdiv">Plovdiv</option>
                    </select>
                </div>

                <div id="adv-search-link">
                    <a href="index.html#advanced-search-title">Advanced search</a>
                </div>
    
                <button type="submit" class="submit-btn">Search</button>
            </form>

            
        </aside>


        <section class="all-offers">

            <article class="offer-search ">

                <div class="img">
                    <img src="/Project/images/Rainbow_app.jpg" alt="Pomorie">
                </div>

                <div class="text">
                    <h3>2-bedroom apartment in Sunny Beach</h3>
                    <div><i class="fa-sharp fa-solid fa-location-dot"></i>Pomorie, Flora Beach Resort</div>
                    
                    <div class="text">
                        <span class="bold">82 m2.</span>
                        <span class="floor"><i class="fa-solid fa-stairs"></i>3 from 6</span>
                        <div class="rooms">3 rooms, 1 balcony, 1 bathroom</div>  
                    </div>
                    <h4 class="price">58 900 €</h4>
                

                </div>


            </article>

            <article class="offer-search">

                <div class="img">
                    <img src="/Project/images/Rainbow_app.jpg" alt="Pomorie">
                </div>

                <div class="text">
                    <h3>2-bedroom apartment in Sunny Beach</h3>
                    <div><i class="fa-sharp fa-solid fa-location-dot"></i>Pomorie, Flora Beach Resort</div>
                    
                    <div class="text">
                        <span class="bold">82 m2.</span>
                        <span class="floor"><i class="fa-solid fa-stairs"></i>3 from 6</span>
                        <div class="rooms">3 rooms, 1 balcony, 1 bathroom</div>  
                    </div>
                    <h4 class="price">58 900 €</h4>
                

                </div>


            </article>

            <article class="offer-search">

                <div class="img">
                    <img src="/Project/images/Rainbow_app.jpg" alt="Pomorie">
                </div>

                <div class="text">
                    <h3>2-bedroom apartment in Sunny Beach</h3>
                    <div><i class="fa-sharp fa-solid fa-location-dot"></i>Pomorie, Flora Beach Resort</div>
                    
                    <div class="text">
                        <span class="bold">82 m2.</span>
                        <span class="floor"><i class="fa-solid fa-stairs"></i>3 from 6</span>
                        <div class="rooms">3 rooms, 1 balcony, 1 bathroom</div>  
                    </div>
                    <h4 class="price">58 900 €</h4>
                

                </div>


            </article>

            <article class="offer-search">

                <div class="img">
                    <img src="/Project/images/Rainbow_app.jpg" alt="Pomorie">
                </div>

                <div class="text">
                    <h3>2-bedroom apartment in Sunny Beach</h3>
                    <div><i class="fa-sharp fa-solid fa-location-dot"></i>Pomorie, Flora Beach Resort</div>
                    
                    <div class="text">
                        <span class="bold">82 m2.</span>
                        <span class="floor"><i class="fa-solid fa-stairs"></i>3 from 6</span>
                        <div class="rooms">3 rooms, 1 balcony, 1 bathroom</div>  
                    </div>
                    <h4 class="price">58 900 €</h4>
                

                </div>


            </article>

        </section>


     


        <footer>

            <h2 class="footer-logo" id="logo">my-home.now</h2>

            <section>
                <article>
                    <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia 1000, 12 Serdika, ground floor
                    </address>
                    <p> <i class="fa-solid fa-phone"></i>+359 885 00 00 11</p>
                    <p><i class="fa-solid fa-envelope"></i><a href="">office@my-home.now</a></p>
                </article>

                <article>
                    <h4 class="footer-title" date time>WORKING HOURS</h4>
                    <p><i>Monday to Friday:</i>10 AM to 9 PM</p>
                    <p><i>Saturday and Sunday:</i> Closed </p>
                </article>

                <article class="center">
                    <h4 class="footer-title">CONNECT WITH US</h4>
                    <div class="icons">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-viber"></i></a>
                    </div>
                  
                </article>
            </section>


            <p id="copy-right">Copyright&copy; my-home.now 2023</p>
        </footer>

        <script type="text/javascript" src="script.js"></script>


    </main>

</body>

</html>




            
