<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" />

    <title>Offer details</title>
    <link rel="icon" sizes="180x180" type="image/x-icon" href="/Project/images/favicon.ico">
</head>

<body>
<header>
    <nav class="main-nav">
        <h2 id="logo">my-ho<span class="house-logo"><img src="/Project/images/favicon.png" alt="M"></span>e</h2>
        <ul class="list">
            <li class="list-element"><a class="element-text" href="">Login</a></li>
            <li class="list-element"><a class="element-text" href="">Register</a></li>
            <li class="list-element"><a class="element-text" href="">Offers</a></li>
            <li class="list-element"><a class="element-text" href="">Agencies</a></li>
            <li class="list-element"><a class="element-text" href="">Contacts</a></li>
            <li class="list-element"><a class="element-text" href="">Logout</a></li>
        </ul>
    </nav>



</header>

<main>


    <section class="offer-details">





        <aside class="request">
            <h3 class="section-title">Make a request</h3>

            <input class="field" placeholder="Name" type="text" name="name" id="name">
            <input class="field" placeholder="Email" type="text" name="email" id="email">

            <input class="field" placeholder="Phone number" type="number" name="phone" id="phone">

            <textarea class="field" placeholder="Ask your questions here" name="message" id="message"></textarea>
            <button type="submit" class="submit-btn">SEND</button>
        </aside>


        <article class="offer-info">
            <div >
                <h2>2-bedroom apartment in Sunny Beach</h2>
                <div class="flex">
                    <div class="main-info">
                        <address class="address"><i class="fa-sharp fa-solid fa-location-dot"></i>Sunny Beach, Rainbow 4
                        </address>

                        <h4 class="price">58 900 €</h4>
                    </div>
                    <h3 class="type">BUY</h3>
                </div>

            </div>

            <div class="characteristics">
                <table>
                    <tbody>
                    <tr >
                        <td class="bold margin-right">Date</td>
                        <td>12-02-2022</td>
                    </tr>
                    <tr>
                        <td class="bold">ID:</td>
                        <td class="value" id="id">31176</td>

                    </tr>
                    <tr>
                        <td class="bold">Area:</td>
                        <td class="value">72м2</td>

                    </tr>
                    <tr>
                        <td class="bold">Plan:</td>
                        <td class="value">1 bedroom 1 balcony, 1 bathroom</td>
                    </tr>
                    <tr>
                        <td class="bold">City:</td>
                        <td class="value">Sunny Beach</td>
                    </tr>
                    <tr>
                        <td class="bold">Build:</td>
                        <td class="value">2012</td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                    <tr class="table-row">
                        <td class="bold">Floor:</td>
                        <td class="value">6 from 6</td>
                    </tr>
                    <tr class="table-row">
                        <td class="bold">Construction:</td>
                        <td class="value">Brick</td>
                    </tr>
                    <tr class="table-row">
                        <td class="bold">Heating:</td>
                        <td>Electricity</td>
                    </tr>
                    <tr class="table-row">
                        <td class="bold">Parking:</td>
                        <td class="value">Yes</td>
                    </tr>
                    <tr class="table-row">
                        <td class="bold">Elevator:</td>
                        <td class="value">Yes</td>
                    </tr>
                    </tbody>
                </table>
            </div>



            <div class="description">One bedroom apartment with sea view in a modern apartment complex consisting of
                luxury
                apartments in the popular resort of Sunny Beach. The luxury resort complex is located on the second
                line
                of the sea in the southern part of the resort. Close to the elegant complex there is a large park
                with
                dunes and lush vegetation that brings tranquillity and a pleasant atmosphere. This stylish 72 m2
                flat is
                located on the sixth floor. It has a living room with a kitchenette and a seating area, a bedroom, a
                bathroom with WC and a large panoramic terrace. The area is also popular because it is within
                walking
                distance to the city-museum of Nessebar. </div>

            <span class="bold">Added on: </span> <span type="date" class="date">12-02-2023</span>




        </article>



    </section>

    <div class="images">


        <div id="background">
            <img id="current-img">
        </div>

        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow6.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow_2.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow_3.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow_4.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow5.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow_1.jpg" alt="Pomorie">
        </a>
        <a class="a-element">
            <img class="image" src="/Project/images/Rainbow_app.jpg" alt="Pomorie">
        </a>




    </div>






    <footer>

        <h2 class="footer-logo" id="logo">my-home.now</h2>

        <section>
            <article>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia 1000, 12 Serdika, ground floor
                </address>
                <p> <i class="fa-solid fa-phone"></i>+359 885 00 00 11</p>
                <p><i class="fa-solid fa-envelope"></i><a href="">office@my-home.now</a></p>
            </article>

            <article>
                <h4 class="footer-title" date time>WORKING HOURS</h4>
                <p><i>Monday to Friday:</i>10 AM to 9 PM</p>
                <p><i>Saturday and Sunday:</i> Closed </p>
            </article>

            <article class="center">
                <h4 class="footer-title">CONNECT WITH US</h4>
                <div class="icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-viber"></i></a>
                </div>

            </article>
        </section>


        <p id="copy-right">Copyright&copy; my-home.now 2023</p>
    </footer>

    <script type="text/javascript" src="script.js"></script>




</main>

</body>

</html>